@{
    ViewData["Title"] = "Agregar Nueva Orden";
}
@{
    Layout="_LayoutCnt";
}

 @{
     Ordenes orden=new Ordenes();
 }

<h3 style="margin-top: 10px;">NUEVA ORDEN DE TRABAJO</h3>
<div class="modal-body">
    <div class="container h-100">
        <form method="post" action="">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.fec_rec"></label>
                    <input type="date" asp-for="@orden.fec_rec" class="form-control"/>
                    <span asp-validation-for="@orden.fec_rec" class="text-danger"></span>  
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.peso"></label>
                    <input type="text" asp-for="@orden.peso" class="form-control">
                    <span asp-validation-for="@orden.peso" class="text-danger"></span>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.dua"></label>
                    <input type="text" asp-for="@orden.dua" class="form-control">
                    <span asp-validation-for="@orden.dua" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.cod_cliente"></label>                    
                </div>
                <div class="form-group col-lg-6">
                    <strong>razon_social</strong>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.proveedor"></label>
                    <input type="text" asp-for="@orden.proveedor" class="form-control">
                    <span asp-validation-for="@orden.proveedor" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.ubicacion"></label>
                    <input type="text" asp-for="@orden.ubicacion" class="form-control">
                    <span asp-validation-for="@orden.ubicacion" class="text-danger"></span>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.regimen"></label>
                    <input type="text" asp-for="@orden.regimen" class="form-control">
                    <span asp-validation-for="@orden.regimen" class="text-danger"></span>  
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.fec_num"></label>
                    <input type="date" asp-for="@orden.fec_num" class="form-control">
                    <span asp-validation-for="@orden.fec_num" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.fec_entrega"></label>
                    <input type="date" asp-for="@orden.fec_entrega" class="form-control">
                    <span asp-validation-for="@orden.fec_entrega" class="text-danger"></span>  
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.cif"></label>
                    <input type="text" asp-for="@orden.cif" class="form-control">
                    <span asp-validation-for="@orden.cif" class="text-danger"></span>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.tc"></label>
                    <input type="text" asp-for="@orden.tc" class="form-control">
                    <span asp-validation-for="@orden.tc" class="text-danger"></span>  
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@orden.contenido"></label>
                    <input type="text" asp-for="@orden.contenido" class="form-control">
                    <span asp-validation-for="@orden.contenido" class="text-danger"></span>  
                </div>
            </div>
            <div>
                <input class="btn btn-success" type="submit" name="insert" id="insert" style="margin-top: 10px;" value="Grabar"/>
            </div>
        </form>
    </div>
</div>